.projectBarContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  border: 1px solid var(--color-med-2);
  border-radius: 0.5em;
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .projectBarContainer {
    width: 60%;
  }

  .image {
    height: 300px;
  }
}

.projectInfoContainer {
  align-items: center;
  cursor: pointer;
}

.projectTitle {
  font-weight: bold;
}

.expandButton {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.image {
  position: relative;
  flex: 0.5;
  height: 200px;
  margin-right: 1rem;
  cursor: pointer;
}

.image > img {
  object-fit: contain;
}

.expandedInfo {
  display: flex;
  margin-top: 1rem;
}

.description {
  flex: 1.5;
}
