.formContainer {
  margin: auto;
  width: 90%;
}

@media screen and (min-width: 720px) {
  .formContainer {
    width: 50%;
  }
}

.textArea {
  height: 200px;
  resize: none;
}

.success {
  margin-top: 0.5em;
  color: green;
}

.error {
  margin-top: 0.5em;
  color: red;
}
