.main {
  width: 80%;
  margin: 0 auto;
}

.selfImage {
  margin-right: 1em;
  height: 400px;
  position: relative;
  margin-bottom: 0.5em;
}

@media screen and (min-width: 750px) {
  .selfImage {
    margin-bottom: 0;
  }
}

.selfImage > img {
  object-fit: contain;
}

.aboutMe {
  flex: 1;
  font-size: 1.25rem;
}

.bodyText {
  font-size: 1.25rem;
  text-align: center;
}

.extraInfo {
  font-size: 0.75em;
  text-decoration: underline;
}

.title {
  text-align: center;
  font-size: 1.75rem;
  margin-bottom: 0.5em;
}
